@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap");

@font-face {
  font-family: Quilezy;
  src: url(../fonts/quilezy/Quilezy-BF64d495fd9744c.otf);
}

:root {
  --primary_font: Quilezy;
  --secondary_font: Maven Pro;
  --light_gold: #d09f44;
  --blue: #2c2f7d;
  --white: #ffffff;
  --black: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: rgb(243, 243, 243);
}

::-webkit-scrollbar-thumb {
  background: var(--blue);
  border-radius: 15px;
  height: 60px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--light_gold);
}

/* Hero Start */

/* Navbar Start */

.navbar_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999 !important;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 20px 0;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}

.navbar_wrapper.active {
  background-color: var(--white);
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  animation: shake 0.5s 1;
  -webkit-animation: shake 0.5s 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@keyframes shake {
  0% {
    top: -80px;
  }

  100% {
    top: 0;
  }
}

.navbar_wrapper.active .desktop_menu_item li a {
  color: var(--black);
}

.navbar_wrapper.active .mobile_menu_item li a {
  color: var(--black);
}

.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.logo img {
  width: 240px;
  margin: 0 80px;
}

.desktop_menu_item {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.desktop_menu_item li {
  padding: 0 15px;
  font-family: var(--secondary_font);
}

.desktop_menu_item li a {
  display: flex;
  font-size: 1.3em;
  text-decoration: none;
  color: var(--white);
  font-weight: 400;
  padding: 5px 3px;
  position: relative;
  display: block;
  transition: 0.3s;
}

.mobile_menu_item {
  padding: 0;
  margin: 0;
  list-style: none;
  display: none;
  align-items: center;
}

.mobile_menu_item li {
  padding: 0 15px;
  font-family: var(--secondary_font);
}

.mobile_menu_item li a {
  display: flex;
  font-size: 1em;
  text-decoration: none;
  color: var(--white);
  font-weight: 400;
  padding: 5px 3px;
  position: relative;
  display: block;
  transition: 0.3s;
}

.close-btn {
  display: none;
}

.nav-open {
  display: none;
  font-size: 1.4rem;
  color: var(--white);
  cursor: pointer;
}

@media screen and (max-width: 990px) {
  .nav-bar {
    justify-content: space-between;
  }

  .logo img {
    width: 150px;
    margin: 0;
  }

  .desktop_menu_item {
    display: none;
  }

  .mobile_menu_item {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 280px;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    flex-direction: column;
    height: 100vh;
    text-align: center;
    padding-top: 50px;
    transition: 0.5s;
    z-index: 9999 !important;
  }

  .mobile_menu_item li {
    padding: 15px 0;
  }

  .mobile_menu_item li a {
    color: var(--white);
  }

  .navbar_wrapper.active .mobile_menu_item li a {
    color: var(--white);
  }

  .navbar_wrapper.active .nav-open {
    color: var(--black);
  }

  .close-btn {
    display: block;
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
  }

  .close-btn i {
    color: var(--white);
    font-size: 1.3rem;
  }

  .nav-open {
    display: block;
  }
}

/* Navbar End */

/* Hero Slider */

#hero {
  width: 100%;
  height: 100vh;
  position: relative;
}

#hero::after {
  content: "";
  position: absolute;
  bottom: -50px;
  left: 0;
  right: 0;
  width: 100%;
  height: 100px;
  background-color: var(--white);
  transform: rotate(-2deg) skewX(-2deg);
  z-index: 999 !important;
  -webkit-transform: rotate(-2deg) skewX(-2deg);
  -moz-transform: rotate(-2deg) skewX(-2deg);
  -ms-transform: rotate(-2deg) skewX(-2deg);
  -o-transform: rotate(-2deg) skewX(-2deg);
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.hero_content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  text-align: left;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}

.hero_content h1 {
  font-family: var(--primary_font);
  font-size: 3.5em;
  color: var(--white);
  font-weight: 700;
  opacity: 0;
  transform: translateY(-50px);
  -webkit-transform: translateY(-50px);
  -moz-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  -o-transform: translateY(-50px);
  transition: 0.6s ease;
  -webkit-transition: 0.6s ease;
  -moz-transition: 0.6s ease;
  -ms-transition: 0.6s ease;
  -o-transition: 0.6s ease;
}

.swiper-slide-active .hero_content h1 {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transition-delay: 0.6s;
  opacity: 1;
}

.hero_content p {
  font-family: var(--secondary_font);
  font-size: 1em;
  color: var(--white);
  max-width: 600px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  padding: 20px;
  border-radius: 10px;
  transform: translateX(60px);
  -webkit-transform: translateX(60px);
  -moz-transform: translateX(60px);
  -ms-transform: translateX(60px);
  -o-transform: translateX(60px);
  transition: 0.6s ease;
  -webkit-transition: 0.6s ease;
  -moz-transition: 0.6s ease;
  -ms-transition: 0.6s ease;
  -o-transition: 0.6s ease;
  opacity: 0;
}

.swiper-slide-active .hero_content p {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transition-delay: 0.6s;
  opacity: 1;
}

@media screen and (max-width: 990px) {
  .hero_content h1 {
    font-size: 3em;
  }

  .hero_content p {
    font-family: var(--secondary_font);
    font-size: 1em;
    color: var(--white);
    max-width: 600px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    padding: 20px;
    border-radius: 10px;
    transform: translateX(60px);
    -webkit-transform: translateX(60px);
    -moz-transform: translateX(60px);
    -ms-transform: translateX(60px);
    -o-transform: translateX(60px);
    transition: 0.6s ease;
    -webkit-transition: 0.6s ease;
    -moz-transition: 0.6s ease;
    -ms-transition: 0.6s ease;
    -o-transition: 0.6s ease;
    opacity: 0;
  }
}

/* Hero End */

/* About Start */

#about {
  padding: 50px 0 0;
}

.about_content h1 {
  font-family: var(--primary_font);
  font-size: 3em;
  color: var(--blue);
  font-weight: 700;
  margin-bottom: 30px;
  opacity: 0;
  transform: translateY(-50px);
  -webkit-transform: translateY(-50px);
  -moz-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  -o-transform: translateY(-50px);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition-delay: 0.3s;
}

.about.visible .about_content h1 {
  opacity: 1;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}

.about_content p {
  font-family: var(--secondary_font);
  font-size: 1em;
  color: var(--black);
  margin-bottom: 25px;
  opacity: 0;
  transform: translateX(-50px);
  -webkit-transform: translateX(-50px);
  -moz-transform: translateX(-50px);
  -ms-transform: translateX(-50px);
  -o-transform: translateX(-50px);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition-delay: 0.3s;
}

.about.visible .about_content p {
  opacity: 1;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}

.about_btn {
  margin-top: 50px;
  opacity: 0;
  transform: translateY(50px);
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition-delay: 0.3s;
}

.about.visible .about_btn {
  opacity: 1;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}

.about_btn a {
  display: block;
  width: 200px;
  height: 50px;
  line-height: 46px;
  text-decoration: none;
  text-align: center;
  border-radius: 6px;
  border: 2px solid var(--blue);
  color: var(--blue);
  font-size: 1.1em;
  font-weight: 500;
  font-family: var(--secondary_font);
  position: relative;
  overflow: hidden;
  background: transparent;
  transition: all 0.35s;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.about_btn a:before,
.about_btn a:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0;
  background: var(--light_gold);
  z-index: -1;
  transition: all 0.35s;
}

.about_btn a:before {
  opacity: 0.5;
}

.about_btn a:after {
  transition-delay: 0.2s;
}

.about_btn a:hover {
  border: 2px solid var(--light_gold);
  color: var(--white);
}

.about_btn a:hover:before,
.about_btn a:hover:after {
  top: 0;
}

.about_img {
  opacity: 0;
  transform: translateX(50px);
  -webkit-transform: translateX(50px);
  -moz-transform: translateX(50px);
  -ms-transform: translateX(50px);
  -o-transform: translateX(50px);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition-delay: 0.3s;
}

.about.visible .about_img {
  opacity: 1;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}

.about_img img {
  width: 55%;
  display: block;
  margin: auto;
}

@media screen and (max-width: 990px) {
  .about_content h1 {
    font-size: 2em;
  }

  .about_img img {
    width: 75%;
    margin: 60px auto 0;
  }

  .about_content h1 {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }

  .about_content p {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }

  .about_img {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }

  .about_btn {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

/* About End */

/* Product Start */

#product {
  padding: 100px 0;
}

.product_head h1 {
  font-family: var(--primary_font);
  font-size: 3em;
  font-weight: 700;
  color: var(--blue);
  text-align: center;
}

.product_head p {
  font-family: var(--secondary_font);
  font-size: 1em;
  font-weight: 500;
  color: var(--black);
  text-align: center;
  max-width: 700px;
  margin: 0 auto 30px;
}

.product_card {
  margin-top: 40px;
  opacity: 0;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition-delay: 0.3s;
}

.product_card1 {
  transform: translateX(-50px);
  -webkit-transform: translateX(-50px);
  -moz-transform: translateX(-50px);
  -ms-transform: translateX(-50px);
  -o-transform: translateX(-50px);
}

.product_wrapper.visible .product_card1 {
  opacity: 1;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}

.product_card2 {
  transform: translateY(50px);
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
}

.product_wrapper.visible .product_card2 {
  opacity: 1;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}

.product_card3 {
  transform: translateX(50px);
  -webkit-transform: translateX(50px);
  -moz-transform: translateX(50px);
  -ms-transform: translateX(50px);
  -o-transform: translateX(50px);
}

.product_wrapper.visible .product_card3 {
  opacity: 1;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}

.product_card .product_img {
  position: relative;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}

.product_card .product_img img {
  width: 95%;
  aspect-ratio: 2/3;
  border-radius: 190px;
  -webkit-border-radius: 190px;
  -moz-border-radius: 190px;
  -ms-border-radius: 190px;
  -o-border-radius: 190px;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}

.product_card .product_img::after {
  content: "";
  position: absolute;
  left: -25px;
  width: 95%;
  height: 100%;
  border: 2px solid var(--light_gold);
  border-radius: 190px;
  -webkit-border-radius: 190px;
  -moz-border-radius: 190px;
  -ms-border-radius: 190px;
  -o-border-radius: 190px;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}

.product_card:hover .product_img::after {
  left: 0;
}

.product_card:hover .product_img img {
  filter: drop-shadow(0 0 15px rgba(208, 159, 68, 0.8));
  -webkit-filter: drop-shadow(0 0 15px rgba(208, 159, 68, 0.8));
  transition-delay: 0.5s;
}

.product_card_title {
  margin-top: 40px;
  text-align: center;
}

.product_card_title h1 {
  font-size: 2.5em;
  display: inline-block;
  font-weight: 700;
  text-transform: uppercase;
  font-family: var(--primary_font);
  text-align: center;
  position: relative;
  color: var(--black);
  transition: 0.5s ease;
}

.product_card_title h1::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  height: 100%;
  background-color: var(--light_gold);
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  transform: rotate(-45deg);
  z-index: -99;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transition: 0.5s ease;
}

.product_card_title h1::after {
  content: "";
  position: absolute;
  left: 70px;
  top: 0;
  width: 100px;
  height: 100%;
  background-color: var(--blue);
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  z-index: -99;
  transform: rotate(-45deg) translateX(-50%);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg) translateX(-50%);
  -ms-transform: rotate(-45deg) translateX(-50%);
  -o-transform: rotate(-45deg) translateX(-50%);
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}

.product_card:hover .product_card_title h1::before {
  left: 70px;
}

.product_card:hover .product_card_title h1::after {
  left: 0px;
}

.woven {
  margin-top: 100px;
}

.product_items {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: var(--light_gold);
  padding: 50px 100px 50px 20px;
  border-radius: 0 200px 200px 0;
  -webkit-border-radius: 0 200px 200px 0;
  -moz-border-radius: 0 200px 200px 0;
  -ms-border-radius: 0 200px 200px 0;
  -o-border-radius: 0 200px 200px 0;
}

.knitwear .product_items {
  background-color: var(--blue);
  padding: 50px 20px 50px 100px;
  border-radius: 200px 0 0 200px;
  -webkit-border-radius: 200px 0 0 200px;
  -moz-border-radius: 200px 0 0 200px;
  -ms-border-radius: 200px 0 0 200px;
  -o-border-radius: 200px 0 0 200px;
}

.product_item {
  width: 20%;
  opacity: 0;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition-delay: 0.3s;
}

.product_item1,
.product_item3,
.product_item5 {
  transform: translateY(50px);
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
}

.product_category.visible .product_item1,
.product_category.visible .product_item3,
.product_category.visible .product_item5 {
  opacity: 1;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}

.product_item2,
.product_item4 {
  transform: translateY(-50px);
  -webkit-transform: translateY(-50px);
  -moz-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  -o-transform: translateY(-50px);
}

.product_category.visible .product_item2,
.product_category.visible .product_item4 {
  opacity: 1;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}

.product_item img {
  width: 100%;
}

.product_item_title {
  text-align: center;
  opacity: 0;
  transform: translateX(50px);
  -webkit-transform: translateX(50px);
  -moz-transform: translateX(50px);
  -ms-transform: translateX(50px);
  -o-transform: translateX(50px);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition-delay: 0.3s;
}

.product_category.visible .product_item_title {
  opacity: 1;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}

.product_item_title h1 {
  font-family: var(--primary_font);
  font-size: 3em;
  color: var(--black);
  font-weight: 700;
  display: inline-block;
  position: relative;
}

.product_item_title h1::before {
  content: "";
  position: absolute;
  top: -28px;
  left: -27px;
  width: calc(100% + 50px);
  height: calc(100% + 30px);
  border: 3px solid var(--blue);
}

.product_item_title h1::after {
  content: "";
  position: absolute;
  top: -16px;
  left: -40px;
  width: calc(100% + 50px);
  height: calc(100% + 30px);
  border: 3px solid var(--light_gold);
}

.product_item_title.active h1::before {
  animation: move1 1s 1 forwards;
  -webkit-animation: move1 1s 1 forwards;
}

.product_item_title.active h1::after {
  animation: move2 1s 1 forwards;
  -webkit-animation: move2 1s 1 forwards;
}

@keyframes move1 {
  0% {
    top: -16px;
    left: -40px;
  }

  100% {
    top: -28px;
    left: -27px;
  }
}

@keyframes move2 {
  0% {
    top: -28px;
    left: -27px;
  }

  100% {
    top: -16px;
    left: -40px;
  }
}

@media screen and (max-width: 1200px) {
  .product_item_title h1 {
    font-size: 2em;
  }

  .product_items {
    display: block;
    padding: 40px 20px;
    border-radius: 180px;
    -webkit-border-radius: 180px;
    -moz-border-radius: 180px;
    -ms-border-radius: 180px;
    -o-border-radius: 180px;
  }

  .product_item {
    width: 90%;
    margin: 0 auto 30px;
  }

  .product_item:nth-child(5) {
    margin-bottom: 0;
  }

  .knitwear .product_items {
    padding: 40px 20px;
    border-radius: 180px;
    -webkit-border-radius: 180px;
    -moz-border-radius: 180px;
    -ms-border-radius: 180px;
    -o-border-radius: 180px;
  }

  .product_item_title {
    margin: 80px 0 60px;
  }

  .product_item1,
  .product_item2,
  .product_item3,
  .product_item4,
  .product_item5 {
    transform: translateY(50px);
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    -ms-transform: translateY(50px);
    -o-transform: translateY(50px);
  }

  .product_item_title {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}

@media screen and (max-width: 990px) {
  .product_head h1 {
    font-size: 2em;
  }

  .product_card_title {
    margin: 70px 0 50px;
  }

  .product_card .product_img::after {
    display: none;
  }

  .product_card1,
  .product_card2,
  .product_card3 {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}

/* Product End */

/* Working Process Start */

#working_process {
  padding: 0 0 100px;
}

.working_process_head h1 {
  font-family: var(--primary_font);
  font-size: 3em;
  font-weight: 700;
  color: var(--blue);
  text-align: center;
}

.working_process_head p {
  font-family: var(--secondary_font);
  font-size: 1em;
  font-weight: 500;
  color: var(--black);
  text-align: center;
  max-width: 700px;
  margin: 0 auto 30px;
}

.working_card {
  border: 2px solid var(--blue);
  padding: 20px 10px;
  border-radius: 30px 30px 30px 0px;
  -webkit-border-radius: 30px 30px 30px 0px;
  -moz-border-radius: 30px 30px 30px 0px;
  -ms-border-radius: 30px 30px 30px 0px;
  -o-border-radius: 30px 30px 30px 0px;
  transition: 0.5s ease;
  -webkit-transition: 0;
  -moz-transition: 0;
  -ms-transition: 0;
  -o-transition: 0;
  transition-delay: 0.4s;
  margin-top: 30px;
  opacity: 0;
}

.working_card1 {
  transform: translateX(-50px);
  -webkit-transform: translateX(-50px);
  -moz-transform: translateX(-50px);
  -ms-transform: translateX(-50px);
  -o-transform: translateX(-50px);
}

.working_process.visible .working_card1 {
  opacity: 1;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}

.working_card2 {
  transform: translateY(-50px);
  -webkit-transform: translateY(-50px);
  -moz-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  -o-transform: translateY(-50px);
}

.working_process.visible .working_card2 {
  opacity: 1;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}

.working_card3 {
  transform: translateY(50px);
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
}

.working_process.visible .working_card3 {
  opacity: 1;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}

.working_card4 {
  transform: translateX(50px);
  -webkit-transform: translateX(50px);
  -moz-transform: translateX(50px);
  -ms-transform: translateX(50px);
  -o-transform: translateX(50px);
}

.working_process.visible .working_card4 {
  opacity: 1;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}

.working_card:hover {
  border-radius: 30px 30px 0 30px;
  -webkit-border-radius: 30px 30px 0 30px;
  -moz-border-radius: 30px 30px 0 30px;
  -ms-border-radius: 30px 30px 0 30px;
  -o-border-radius: 30px 30px 0 30px;
  box-shadow: 0px 0px 14px rgba(44, 47, 125, 0.3);
}

.working_card .card_icon {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light_gold);
  margin: auto;
  border-radius: 50% 50% 50% 0;
  -webkit-border-radius: 50% 50% 50% 0;
  -moz-border-radius: 50% 50% 50% 0;
  -ms-border-radius: 50% 50% 50% 0;
  -o-border-radius: 50% 50% 50% 0;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}

.working_card:hover .card_icon {
  border-radius: 50% 50% 0 50%;
  -webkit-border-radius: 50% 50% 0 50%;
  -moz-border-radius: 50% 50% 0 50%;
  -ms-border-radius: 50% 50% 0 50%;
  -o-border-radius: 50% 50% 0 50%;
}

.working_card .card_icon img {
  width: 40px;
}

.working_card h2 {
  font-family: var(--primary_font);
  font-size: 1.7em;
  color: var(--black);
  font-weight: 700;
  margin: 20px 0 15px;
  text-align: center;
}

.working_card p {
  font-family: var(--secondary_font);
  font-size: 1em;
  color: var(--black);
  font-weight: 400;
  margin: 0;
  text-align: center;
}

@media screen and (max-width: 990px) {
  .working_process_head h1 {
    font-size: 2em;
  }

  .working_card1,
  .working_card2,
  .working_card3,
  .working_card4 {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}

/* Working Process End */

/* Service Start */

#service {
  padding: 0 0 100px;
}

.service_wrapper {
  background-color: var(--light_gold);
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.service_content h1 {
  font-family: var(--primary_font);
  font-size: 3em;
  color: var(--blue);
  font-weight: 700;
  margin-bottom: 20px;
  opacity: 0;
  transform: translateY(-50px);
  -webkit-transform: translateY(-50px);
  -moz-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  -o-transform: translateY(-50px);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition-delay: 0.4s;
}

.service.visible .service_content h1 {
  opacity: 1;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}

.service_content p {
  font-family: var(--secondary_font);
  font-size: 1em;
  color: var(--white);
  margin-bottom: 0;
  padding-right: 20px;
  opacity: 0;
  transform: translateX(-50px);
  -webkit-transform: translateX(-50px);
  -moz-transform: translateX(-50px);
  -ms-transform: translateX(-50px);
  -o-transform: translateX(-50px);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition-delay: 0.4s;
}

.service.visible .service_content p {
  opacity: 1;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}

.service_content .service_img img {
  width: 100%;
  aspect-ratio: 3/2;
  opacity: 0;
  transform: translateX(50px);
  -webkit-transform: translateX(50px);
  -moz-transform: translateX(50px);
  -ms-transform: translateX(50px);
  -o-transform: translateX(50px);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition-delay: 0.4s;
}

.service_mobile_img img {
  width: 100%;
  aspect-ratio: 5/3;
  object-fit: cover;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  display: none;
  opacity: 0;
  transform: translateX(50px);
  -webkit-transform: translateX(50px);
  -moz-transform: translateX(50px);
  -ms-transform: translateX(50px);
  -o-transform: translateX(50px);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition-delay: 0.4s;
}

.service.visible .service_content .service_img img {
  opacity: 1;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}

.service.visible .service_mobile_img img {
  opacity: 1;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}

@media screen and (max-width: 990px) {
  .service_content h1 {
    font-size: 2em;
  }

  .service_content .service_img img {
    display: none;
  }

  .service_mobile_img img {
    display: block;
    margin-bottom: 50px;
  }

  .service_wrapper {
    padding: 20px;
  }

  .service_content h1 {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }

  .service_content p {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }

  .service_mobile_img img {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}

/* Service End */

/* Chose Start */

#chose {
  padding: 0 0 100px;
}

.chose_img_wrapper {
  display: flex;
  flex: 50%;
  gap: 10px;
}

.chose_img img {
  width: 100%;
  /* aspect-ratio: 1/1; */
  object-fit: cover;
}

.chose_img_1 img {
  aspect-ratio: 3/4;
}

.chose_img_2 img {
  aspect-ratio: 3/2;
}

.chose_img_3 img {
  aspect-ratio: 3/2;
}

.chose_img_4 img {
  aspect-ratio: 3/4;
}

.chose_img_wrapper.active .chose_img_1 {
  animation: bounch1 2s ease-in 1 2s forwards;
  -webkit-animation: bounch1 2s ease-in 1 forwards;
}

.chose_img_wrapper.active .chose_img_4 {
  animation: bounch2 2s ease-in 1 forwards;
  -webkit-animation: bounch2 2s ease-in 1 2s forwards;
}

@keyframes bounch1 {
  0% {
    transform: translate(0);
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
  }

  50% {
    transform: translateX(-15px);
    -webkit-transform: translateX(-15px);
    -moz-transform: translateX(-15px);
    -ms-transform: translateX(-15px);
    -o-transform: translateX(-15px);
  }

  100% {
    transform: translate(0);
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
  }
}

@keyframes bounch2 {
  0% {
    transform: translate(0);
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
  }

  50% {
    transform: translateX(15px);
    -webkit-transform: translateX(15px);
    -moz-transform: translateX(15px);
    -ms-transform: translateX(15px);
    -o-transform: translateX(15px);
  }

  100% {
    transform: translate(0);
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
  }
}

.chose_img_2,
.chose_img_4 {
  margin-top: 10px;
}

.chose_img_1,
.chose_img_2,
.chose_img_3,
.chose_img_4 {
  opacity: 0;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition-delay: 0.4s;
}

.chose.visible .chose_img_1,
.chose.visible .chose_img_2,
.chose.visible .chose_img_3,
.chose.visible .chose_img_4 {
  opacity: 1;
  transform: translate(0);
  -webkit-transform: translate(0);
  -moz-transform: translate(0);
  -ms-transform: translate(0);
  -o-transform: translate(0);
}

.chose_img_1 {
  transform: translate(-50px, -50px);
  -webkit-transform: translate(-50px, -50px);
  -moz-transform: translate(-50px, -50px);
  -ms-transform: translate(-50px, -50px);
  -o-transform: translate(-50px, -50px);
}

.chose_img_2 {
  transform: translate(-50px, 50px);
  -webkit-transform: translate(-50px, 50px);
  -moz-transform: translate(-50px, 50px);
  -ms-transform: translate(-50px, 50px);
  -o-transform: translate(-50px, 50px);
}

.chose_img_3 {
  transform: translate(50px, -50px);
  -webkit-transform: translate(50px, -50px);
  -moz-transform: translate(50px, -50px);
  -ms-transform: translate(50px, -50px);
  -o-transform: translate(50px, -50px);
}

.chose_img_4 {
  transform: translate(50px, 50px);
  -webkit-transform: translate(50px, 50px);
  -moz-transform: translate(50px, 50px);
  -ms-transform: translate(50px, 50px);
  -o-transform: translate(50px, 50px);
}

.chose_content h1 {
  font-family: var(--primary_font);
  font-size: 3em;
  color: var(--blue);
  font-weight: 700;
  margin-bottom: 30px;
  opacity: 0;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition-delay: 0.4s;
}

.chose_content h1 {
  transform: translateY(-50px);
  -webkit-transform: translateY(-50px);
  -moz-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  -o-transform: translateY(-50px);
}

.chose.visible .chose_content h1 {
  opacity: 1;
  transform: translate(0);
  -webkit-transform: translate(0);
  -moz-transform: translate(0);
  -ms-transform: translate(0);
  -o-transform: translate(0);
}

.chose_content p {
  font-family: var(--secondary_font);
  font-size: 1em;
  color: var(--black);
  margin-bottom: 25px;
  opacity: 0;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition-delay: 0.4s;
}

.chose_content p {
  transform: translateX(50px);
  -webkit-transform: translateX(50px);
  -moz-transform: translateX(50px);
  -ms-transform: translateX(50px);
  -o-transform: translateX(50px);
}

.chose.visible .chose_content p {
  opacity: 1;
  transform: translate(0);
  -webkit-transform: translate(0);
  -moz-transform: translate(0);
  -ms-transform: translate(0);
  -o-transform: translate(0);
}

@media screen and (max-width: 990px) {
  .chose_content h1 {
    font-size: 2em;
    margin-top: 50px;
  }

  .chose_img_1,
  .chose_img_2,
  .chose_img_3,
  .chose_img_4 {
    transform: translate(0);
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
  }

  .chose_content h1 {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }

  .chose_content p {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}

/* Chose End */

/* Brand Start */

#brand {
  padding: 0 0 100px;
}

.brand_card {
  width: 100%;
  height: 150px;
}

.brand_card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Brand End */

/* Showroom Start */

#showroom {
  padding: 0 0 100px;
}

.showroom_head {
  background: url(../img/showroom_banner.png);
  height: 350px;
  border-radius: 200px;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  -ms-border-radius: 200px;
  -o-border-radius: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.showroom_head h1 {
  font-family: var(--primary_font);
  color: var(--blue);
  font-size: 3em;
  font-weight: 700;
  text-align: center;
  padding-top: 60px;
}

.showroom_head p {
  font-family: var(--secondary_font);
  font-size: 1em;
  font-weight: 500;
  color: var(--black);
  text-align: center;
  max-width: 500px;
  margin: 0 auto 30px;
}

.showroom_content {
  position: relative;
  opacity: 0;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition-delay: 0.4s;
}

.showroom_content_img1 {
  transform: translate(-50px, -50px);
  -webkit-transform: translate(-50px, -50px);
  -moz-transform: translate(-50px, -50px);
  -ms-transform: translate(-50px, -50px);
  -o-transform: translate(-50px, -50px);
}

.showroom.visible .showroom_content_img1 {
  opacity: 1;
  transform: translate(0);
  -webkit-transform: translate(0);
  -moz-transform: translate(0);
  -ms-transform: translate(0);
  -o-transform: translate(0);
}

.showroom_content_img2 {
  transform: translate(50px, -50px);
  -webkit-transform: translate(50px, -50px);
  -moz-transform: translate(50px, -50px);
  -ms-transform: translate(50px, -50px);
  -o-transform: translate(50px, -50px);
}

.showroom.visible .showroom_content_img2 {
  opacity: 1;
  transform: translate(0);
  -webkit-transform: translate(0);
  -moz-transform: translate(0);
  -ms-transform: translate(0);
  -o-transform: translate(0);
}

.showroom_content_img3 {
  transform: translate(-50px, 50px);
  -webkit-transform: translate(-50px, 50px);
  -moz-transform: translate(-50px, 50px);
  -ms-transform: translate(-50px, 50px);
  -o-transform: translate(-50px, 50px);
}

.showroom.visible .showroom_content_img3 {
  opacity: 1;
  transform: translate(0);
  -webkit-transform: translate(0);
  -moz-transform: translate(0);
  -ms-transform: translate(0);
  -o-transform: translate(0);
}

.showroom_content_img4 {
  transform: translate(50px, 50px);
  -webkit-transform: translate(50px, 50px);
  -moz-transform: translate(50px, 50px);
  -ms-transform: translate(50px, 50px);
  -o-transform: translate(50px, 50px);
}

.showroom.visible .showroom_content_img4 {
  opacity: 1;
  transform: translate(0);
  -webkit-transform: translate(0);
  -moz-transform: translate(0);
  -ms-transform: translate(0);
  -o-transform: translate(0);
}

.showroom_content span {
  position: absolute;
  display: inline-block;
  color: var(--white);
  font-size: 3.5em;
  font-family: var(--primary_font);
  z-index: 99;
}

.showroom_content span::before {
  content: "";
  position: absolute;
  left: -35px;
  top: 0px;
  width: 90px;
  height: 40px;
  background-color: var(--blue);
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  z-index: -1;
}

.showroom_content span::after {
  content: "";
  position: absolute;
  left: -35px;
  bottom: 0px;
  width: 90px;
  height: 40px;
  background-color: var(--light_gold);
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  z-index: -1;
}

.showroom_content_img1 span {
  top: -90px;
  left: 0;
}

.showroom_content_img2 span {
  top: -90px;
  right: 0;
}

.showroom_content_img3 span {
  bottom: 0;
  left: 15px;
}

.showroom_content_img4 span {
  bottom: 0;
  right: 15px;
}

.showroom_content_img1 img,
.showroom_content_img2 img {
  width: 95%;
  display: block;
  margin: -120px 0 0;
}

.showroom_content_img1 {
  float: right;
}

.showroom_content_img2 {
  float: left;
}

.showroom_content_img3,
.showroom_content_img4 {
  margin-top: 20px;
}

.showroom_content_img3 img,
.showroom_content_img4 img {
  width: 100%;
}

@media screen and (max-width: 990px) {
  .showroom_head {
    padding: 30px;
  }

  .showroom_head h1 {
    font-size: 2em;
  }

  .showroom_content_img1 {
    margin-top: -120px;
  }

  .showroom_content_img1 img,
  .showroom_content_img2 img {
    width: 100%;
    display: block;
    margin: 0;
  }

  .showroom_content_img1,
  .showroom_content_img2 {
    float: none;
  }

  .showroom_content {
    margin-bottom: 20px;
  }

  .showroom_content_img1 span {
    top: 30px;
    left: 30px;
  }

  .showroom_content_img2 span {
    top: 30px;
    right: 30px;
  }

  .showroom_content_img3 span {
    bottom: 30px;
    left: 30px;
  }

  .showroom_content_img4 span {
    bottom: 30px;
    right: 30px;
  }

  .showroom_content_img1,
  .showroom_content_img2,
  .showroom_content_img3,
  .showroom_content_img4 {
    transform: translate(0);
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
  }
}

/* Showroom End */

/* Sampleroom Start */

#sampleroom {
  padding: 100px 0;
  width: 100%;
  background: url(../img/sampleroom_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.sampleroom_head h1 {
  font-family: var(--primary_font);
  color: var(--blue);
  font-size: 3em;
  font-weight: 700;
  text-align: center;
}

.sampleroom_head p {
  font-family: var(--secondary_font);
  font-size: 1em;
  font-weight: 500;
  color: var(--black);
  text-align: center;
  max-width: 500px;
  margin: 0 auto 30px;
}

.sampleroom_content {
  opacity: 0;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition-delay: 0.4s;
}

.sampleroom_img1 {
  transform: translateX(-50px);
  -webkit-transform: translateX(-50px);
  -moz-transform: translateX(-50px);
  -ms-transform: translateX(-50px);
  -o-transform: translateX(-50px);
}

.sampleroom.visible .sampleroom_img1 {
  opacity: 1;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}

.sampleroom_img2 {
  transform: translateX(50px);
  -webkit-transform: translateX(50px);
  -moz-transform: translateX(50px);
  -ms-transform: translateX(50px);
  -o-transform: translateX(50px);
}

.sampleroom.visible .sampleroom_img2 {
  opacity: 1;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}

.sampleroom_content img {
  width: 100%;
}

@media screen and (max-width: 990px) {
  .sampleroom_head h1 {
    font-size: 2em;
  }

  .sampleroom_img2 {
    margin-top: 50px;
  }

  .sampleroom_img1,
  .sampleroom_img2 {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}

/* Sampleroom End */

/* Our Team Start */

/* Management Start */

#management {
  padding: 100px 0;
}

.management_head h1 {
  font-family: var(--primary_font);
  color: var(--blue);
  font-size: 3em;
  font-weight: 700;
  text-align: center;
}

.management_head p {
  font-family: var(--secondary_font);
  font-size: 1em;
  font-weight: 500;
  color: var(--black);
  text-align: center;
  max-width: 1000px;
  margin: 0 auto 20px;
}

.management_content {
  margin-top: 30px;
}

.management_content .management_img {
  opacity: 0;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition-delay: 0.4s;
}

.management_content1 .management_img {
  transform: translateX(-50px);
  -webkit-transform: translateX(-50px);
  -moz-transform: translateX(-50px);
  -ms-transform: translateX(-50px);
  -o-transform: translateX(-50px);
}

.management.visible .management_content1 .management_img {
  opacity: 1;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}

.management_content2 .management_img {
  transform: translateX(50px);
  -webkit-transform: translateX(50px);
  -moz-transform: translateX(50px);
  -ms-transform: translateX(50px);
  -o-transform: translateX(50px);
}

.management.visible .management_content2 .management_img {
  opacity: 1;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}

.management_content .management_img img {
  width: 100%;
  display: block;
  margin: auto;
  aspect-ratio: 4/3;
  object-fit: cover;
  border-radius: 30px 0 30px 0;
  -webkit-border-radius: 30px 0 30px 0;
  -moz-border-radius: 30px 0 30px 0;
  -ms-border-radius: 30px 0 30px 0;
  -o-border-radius: 30px 0 30px 0;
}

.management_content h3 {
  font-family: var(--primary_font);
  color: var(--blue);
  font-size: 1.6em;
  font-weight: 700;
  opacity: 0;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition-delay: 0.3s;
  transform: translateY(-50px);
  -webkit-transform: translateY(-50px);
  -moz-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  -o-transform: translateY(-50px);
}

.management.visible .management_content h3 {
  opacity: 1;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}

.management_content p {
  font-family: var(--secondary_font);
  color: var(--black);
  font-size: 1em;
  font-weight: 400;
  margin-bottom: 0;
  text-align: justify;
  opacity: 0;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition-delay: 0.3s;
  transform: translateY(50px);
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
}

.management.visible .management_content p {
  opacity: 1;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}

@media screen and (max-width: 990px) {
  .management_head h1 {
    font-size: 2em;
  }

  .management_content1 .management_img,
  .management_content2 .management_img {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }

  .management_content h3,
  .management_content p {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }

  .management_content h3 {
    font-size: 1.4em;
  }
}

/* Management End */

/* Strength Start */

.strength_img img {
  width: 100%;
  aspect-ratio: 5/3;
}

.strength_content {
  position: relative;
  opacity: 0;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition-delay: 0.4s;
}

.strength_content1 {
  transform: translateX(-50px);
  -webkit-transform: translateX(-50px);
  -moz-transform: translateX(-50px);
  -ms-transform: translateX(-50px);
  -o-transform: translateX(-50px);
}

.strength.visible .strength_content1 {
  opacity: 1;
  transform: translate(0);
  -webkit-transform: translate(0);
  -moz-transform: translate(0);
  -ms-transform: translate(0);
  -o-transform: translate(0);
}

.strength_content2 {
  transform: translateX(50px);
  -webkit-transform: translateX(50px);
  -moz-transform: translateX(50px);
  -ms-transform: translateX(50px);
  -o-transform: translateX(50px);
}

.strength.visible .strength_content2 {
  opacity: 1;
  transform: translate(0);
  -webkit-transform: translate(0);
  -moz-transform: translate(0);
  -ms-transform: translate(0);
  -o-transform: translate(0);
}

.strength_content h1 {
  font-family: var(--primary_font);
  color: var(--blue);
  font-size: 2.2em;
  font-weight: 700;
  text-align: center;
  margin: 30px 0 20px;
}

.strength_content p {
  font-family: var(--secondary_font);
  font-size: 1em;
  font-weight: 400;
  color: var(--black);
  text-align: justify;
  margin-bottom: 0;
}

.strength_shape {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 120px;
  height: 70px;
  background-color: var(--light_gold);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  z-index: -1;
  animation: strengthBounch 5s ease-in infinite;
  -webkit-animation: strengthBounch 5s ease-in infinite;
}

.sample_shape {
  position: absolute;
  top: -60px;
  right: 0;
  width: 120px;
  height: 70px;
  background-color: var(--light_gold);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  z-index: -1;
  animation: sampleBounch 3s infinite;
  -webkit-animation: sampleBounch 3s infinite;
}

@keyframes strengthBounch {
  0% {
    bottom: 0;
    right: 0;
  }

  50% {
    bottom: 20px;
    right: 20px;
  }

  100% {
    bottom: 0;
    right: 0;
  }
}

@keyframes sampleBounch {
  0% {
    top: -60px;
    right: 0;
  }

  50% {
    top: -70px;
    right: -5px;
  }

  100% {
    top: -60px;
    right: 0;
  }
}

@media screen and (max-width: 990px) {

  .strength_shape,
  .sample_shape {
    display: none;
  }

  .strength_content h1 {
    font-size: 2em;
  }

  .strength_content1,
  .strength_content2 {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }

  .strength_content2 {
    margin-top: 50px;
  }
}

/* Strength End */

/* Quality Control Start */

#quality_control {
  padding: 100px 0;
}

.quality_control_img img {
  width: 70%;
  opacity: 0;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition-delay: 0.4s;
  transform: scale(0.4);
  -webkit-transform: scale(0.4);
  -moz-transform: scale(0.4);
  -ms-transform: scale(0.4);
  -o-transform: scale(0.4);
}

.qualityControl.visible .quality_control_img img {
  opacity: 1;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}

.quality_control_content h1 {
  font-family: var(--primary_font);
  font-size: 3em;
  color: var(--blue);
  font-weight: 700;
  opacity: 0;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition-delay: 0.4s;
  transform: translateY(-50px);
  -webkit-transform: translateY(-50px);
  -moz-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  -o-transform: translateY(-50px);
}

.qualityControl.visible .quality_control_content h1 {
  opacity: 1;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}

.quality_control_content p {
  font-family: var(--secondary_font);
  font-size: 1em;
  color: var(--black);
  font-weight: 400;
  opacity: 0;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition-delay: 0.4s;
  transform: translateX(50px);
  -webkit-transform: translateX(50px);
  -moz-transform: translateX(50px);
  -ms-transform: translateX(50px);
  -o-transform: translateX(50px);
}

.qualityControl.visible .quality_control_content p {
  opacity: 1;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}

@media screen and (max-width: 990px) {
  .quality_control_content h1 {
    font-size: 2em;
    margin-top: 50px;
  }

  .quality_control_img img {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }

  .quality_control_content h1 {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }

  .quality_control_content p {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

/* Quality Control End */

/* Merchandesign Start */

#merchandesign {
  width: 100%;
  height: 80vh;
  position: relative;
  background: url(../img/merchandesign_bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 100px;
}

.merchandesign_content {
  max-width: 550px;
  aspect-ratio: 5/3;
  background-color: var(--light_gold);
  position: absolute;
  left: 10px;
  bottom: 15px;
  padding: 30px;
  opacity: 0;
  transform: translateX(50px);
  -webkit-transform: translateX(50px);
  -moz-transform: translateX(50px);
  -ms-transform: translateX(50px);
  -o-transform: translateX(50px);
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition-delay: 0.4s;
}

.merchandesign.visible .merchandesign_content {
  opacity: 1;
  transform: translate(0);
  -webkit-transform: translate(0);
  -moz-transform: translate(0);
  -ms-transform: translate(0);
  -o-transform: translate(0);
}

.merchandesign_content h1 {
  font-family: var(--primary_font);
  font-size: 2.5em;
  color: var(--blue);
  font-weight: 700;
}

.merchandesign_content p {
  font-family: var(--secondary_font);
  font-size: 1em;
  color: var(--white);
  font-weight: 400;
  margin-bottom: 0;
}

@media screen and (max-width: 990px) {
  .merchandesign_content {
    max-width: 80%;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}

@media screen and (max-width: 575px) {
  .merchandesign_content {
    padding: 15px;
    background-color: rgba(208, 159, 68, 0.8);
  }

  .merchandesign_content h1 {
    font-size: 1.7em;
  }
}

/* Merchandesign End */

/* Commercial Start */

#commercial {
  width: 100%;
  height: 80vh;
  position: relative;
  background: url(../img/commercial_team_img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* margin-bottom: 100px; */
}

.commercial_content {
  max-width: 550px;
  aspect-ratio: 5/3;
  background-color: var(--blue);
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 30px;
  opacity: 0;
  transform: translateX(-50px);
  -webkit-transform: translateX(-50px);
  -moz-transform: translateX(-50px);
  -ms-transform: translateX(-50px);
  -o-transform: translateX(-50px);
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition-delay: 0.4s;
}

.commercial.visible .commercial_content {
  opacity: 1;
  transform: translate(0);
  -webkit-transform: translate(0);
  -moz-transform: translate(0);
  -ms-transform: translate(0);
  -o-transform: translate(0);
}

.commercial_content h1 {
  font-family: var(--primary_font);
  font-size: 2.5em;
  color: var(--light_gold);
  font-weight: 700;
}

.commercial_content p {
  font-family: var(--secondary_font);
  font-size: 1em;
  color: var(--white);
  font-weight: 400;
  margin-bottom: 0;
}

@media screen and (max-width: 990px) {
  .commercial_content {
    max-width: 80%;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}

@media screen and (max-width: 575px) {
  .commercial_content {
    padding: 15px;
    background-color: rgba(44, 47, 125, 0.8);
  }

  .commercial_content h1 {
    font-size: 1.7em;
  }
}

/* Commercial End */

/* Our Team End */

/* Footer Start */

#footer {
  padding: 50px 0 0;
  background-color: #04071e;
  background-image: url(../img/footer_bg_shape.png);
  overflow: hidden;
}

.footer_item {
  margin-top: 50px;
}

.footer_item .footer_logo img {
  width: 250px;
}

.footer_item p {
  font-family: var(--secondary_font);
  color: #a7a7a7;
  font-size: 1em;
  margin-top: 40px;
  max-width: 90%;
}

.footer_item h2 {
  font-family: var(--primary_font);
  font-size: 1.4em;
  font-weight: 700;
  color: var(--white);
  margin-bottom: 20px;
}

.footer_item ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer_item ul li {
  margin: 15px 0;
}

.footer_item ul li a {
  text-decoration: none;
  color: #a7a7a7;
  font-family: var(--secondary_font);
  font-size: 1em;
}

.copyright {
  border-top: 1px solid var(--white);
  margin-top: 50px;
}

.copyright p {
  margin-bottom: 0;
  font-family: var(--secondary_font);
  font-size: 14px;
  color: #a7a7a7;
  padding: 30px 0;
  text-align: center;
}

.back-top-icon {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0 30px 30px 0;
}



/* Footer End */